<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <title>LOGIN</title>
</head>

<body>
    <div class="cong2">
        <form>
            <h2 style="color : white">Home page</h2>
            <a href="{{ path('app_logout') }}" style="text-decoration: none">Log out</a>
            <br><br>
        </form>
</body>

</html>
